library-fe/build/web/**
library-fe/.packages
library-fe/packages/**
library-fe/.pub/**
library-fe/pubspec.lock
library-fe/web/packages

infrastructure/


library-fe/dart/angular/.packages
library-fe/dart/angular/build
library-fe/dart/angular/.pub
library-fe/dart/angular/pubspec.lock
