static/build/web/**
static/.packages
static/packages/**
static/.pub/**
static/pubspec.lock
static/web/packages

infrastructure/


static/dart/angular/.packages
static/dart/angular/build
static/dart/angular/.pub
static/dart/angular/pubspec.lock
